{% extends 'base.html' %}

<h1>{% block title %} Index {% endblock %}</h1>

{% block content %}
    {% if msg %}
        <div class="msg">
            <p>{{msg}}</p>
        </div>
    {% endif %}
{% if projects %}
    {% for proj in projects %}
    <table>
        <tr>
            <th>Temat projektu:</th>
            <th>{{proj.name}}</th>
        </tr>
        <tr>
            <th>Dziedzina:</th>
            <th>{{proj.subject}}</th>
        </tr>
    </table>
    {% endfor %}
{% endif %}

{% if students %}
    {% for proj in students %}
    <table>
        <tr>
            <th>STUDENT:</th>
            <th>{{proj.firstname}}</th>
            <th>{{proj.lastname}}</th>
            <th>{{proj.department}}</th>
        </tr>
    </table>
    {% endfor %}
{% endif %}


{% if projects_list %}
<div class="hire">
    <h3>Dodaj studenta</h3>
    <form action="/addStudent" method="POST">
        <p>Imię*<input type="text" id="first" name="first"></p>
        <p>Nazwisko*<input type="text" id="last" name="last"></p>
        <p>Wydział*<input type="text" id="department" name="department"></p>
        <p>
            Podepnij projekt*
            <input list="brow" id="project" name="project" autocomplete="off">
            <datalist id="brow">
                {% for proj in projects_list %}
                    <option value="{{proj}}">
                {% endfor %}
            </datalist> 
        </p>
        <p></p><input type="submit" value="Dodaj">
    </form>
</div>
{% endif %}



{% if search_projects %}
<div class="hire">
    <h3>Szukaj uczestników w danym projekcie</h3>
    <form action="/showStudentsProjects" method="POST">
        <p>
            Wybierz projekt*
            <input list="brow" id="project" name="project" autocomplete="off">
            <datalist id="brow">
                {% for proj in search_projects %}
                    <option value="{{proj}}">
                {% endfor %}
            </datalist> 
        </p>
        <p></p><input type="submit" value="Szukaj">
    </form>
</div>
{% endif %}


{% if search_projects2 %}
<div class="hire">
    <h3>Wybierz projekt, który chcesz edytować</h3>
    <form action="/updateProject" method="POST">
        <p>
            Wybierz projekt*
            <input list="brow" id="project" name="project" autocomplete="off">
            <datalist id="brow">
                {% for proj in search_projects2 %}
                    <option value="{{proj}}">
                {% endfor %}
            </datalist> 
        </p>

                <label for="name">Nazwa projektu:</label><br>
                <input type="text" id="name" name="name"><br>
                <label for="name">Dziedzina/obaszar badań:</label><br>
                <input type="text" id="subject" name="subject"><br>
        <p></p><input type="submit" value="Edytuj">
    </form>
</div>
{% endif %}


{% if search_students %}
<div class="hire">
    <h3>Szukaj projektów wybranego uczestnika</h3>
    <form action="/showStudentProjects" method="POST">
        <p>
            Wybierz studenta*
            <input list="brow" id="project" name="project" autocomplete="off">
            <datalist id="brow">
                {% for proj in search_students %}
                    <option value="{{proj}}">
                {% endfor %}
            </datalist> 
        </p>
        <p></p><input type="submit" value="Szukaj">
    </form>
</div>
{% endif %}


{% if projects_to_delete %}
<div class="hire">
    <h3>Wybierz projekt, który chcesz usunąć</h3>
    <form action="/showStudentsProjects" method="POST">
        <p>
            Wybierz projekt*
            <input list="brow" id="project" name="project" autocomplete="off">
            <datalist id="brow">
                {% for proj in projects_to_delete %}
                    <option value="{{proj}}">
                {% endfor %}
            </datalist> 
        </p>
                <label for="name">Nazwa projektu:</label><br>
                <input type="text" id="name" name="name"><br>
                <label for="name">Dziedzina/obaszar badań:</label><br>
                <input type="text" id="subject" name="subject"><br>
        <p></p><input type="submit" value="Edytuj">
    </form>
</div>
{% endif %}

{% if delete_projects %}
<div class="hire">
    <h3>Wybierz projekt, który chcesz usunąć</h3>
    <form action="/deleteProject" method="POST">
        <p>
            Wybierz projekt*
            <input list="brow" id="project" name="project" autocomplete="off">
            <datalist id="brow">
                {% for proj in delete_projects %}
                    <option value="{{proj}}">
                {% endfor %}
            </datalist> 
        </p>
        <p></p><input type="submit" value="Usuń">
    </form>
</div>
{% endif %}

{% if delete_student_from_project %}
<div class="hire">
    <h3>Wybierz projekt, który chcesz usunąć</h3>
    <form action="/deleteStudentFromProject" method="POST">
        <p>
            Wybierz projekt*
            <input list="brow1" id="project" name="project" autocomplete="off">
            <datalist id="brow1">
                {% for proj in projects_del %}
                    <option value="{{proj}}">
                {% endfor %}
            </datalist> 
        </p>
        <p>
            Wybierz studenta*
            <input list="brow" id="student" name="student" autocomplete="off">
            <datalist id="brow">
                {% for stu in students_del %}
                    <option value="{{stu}}">
                {% endfor %}
            </datalist> 
        </p>
        <p></p>
        <input type="submit" value="Usuń">
    </form>
</div>
{% endif %}

{% endblock %}